




/*** Navbar Section ***/


.navbar {
    border-radius: 0;
  }

.navbar-brand img{
  height: 5rem;
}

.navbar-inverse{
  min-height: 7rem;
  width: 100%;
  background: #000;
}


.navbar .nav li{
  margin: .875rem;
  font-weight: 400;
  display: inline-block;
}

.navbar .nav li a{
  color: #fff;
  padding-bottom: 0;
}


.navbar .nav li a:hover{
  color: #fff;
  margin: 0;
  border-bottom: 1px solid #0000ff;
}

.selected{
  border-bottom: 1px solid #0000ff;
}



/*** Jumbotron Section ****/

.jumbotron{
  margin: 8rem 0 1rem 0;
  background-color: #fff;
  color: #000;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

.jumbotron img{
  width: 20rem;
}


/* Services Section */

.services{
  border-top: 2px solid #807F81;
  background-color: #0000ff;
}

.services h2{
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}


/* Main Section */


.construction-photo{
  width: 80%;
  max-height: 30rem;
}

.main{
  color: #000;
  padding: 4rem 0;
  font-family: 'Work Sans', sans-serif;
}

.main img{
  border: 2px solid #0000FF;
  border-radius: 4px;
  max-width: 40rem;
  min-height: 30rem;
}

.main h2{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .20rem;
  font-size: 2.5rem;
  color: #0000ff;
}

.main p{
  font-size: 1.7rem;
}

.main ul{
  padding: 1rem 0;
}

.main ul li{
  list-style: square inside url("favicon.ico");
  padding: 0.25rem 0;
}

.left{
  border-bottom: 1px solid #807F81;
  border-top: 1px solid #807F81;
}

.right {
  border-bottom: 1px solid #807F81;
  background-color: #e2e2e2;
}

/** Areas Covered Section **/


.areas-covered{
  margin: 0 0 6rem 0;
  color: #000;
  font-weight: bold;
  background-color: #e2e2e2;
  padding: 3rem 0;
}

.areas-covered ul{
  padding-left: 0;
}

.areas-covered li{
  display: inline-block;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.areas-covered h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #0000ff;
}

/** button **/
.areas-covered button{
  background-color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.5rem 2.5rem;
  border: #0000ff;
  color: #0000ff;
  border: 1px solid #0000ff;
  border-radius: 2px;
  margin-top: 2rem;
}

button:hover{
  background-color: #0000ff;
  color: #fff;
  transition-duration: 700ms;
  box-shadow: 4px 4px 4px #000;
}

/* Mission Section */

.mission{
  margin-top: -6rem;
  padding: 5rem 0;
  background-image: url("./resources/Waha4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue{
  background-color: rgba(0,0,255,.6);
  border-radius: 4px;
  color: #fff;
  padding: 2rem;
}

.mission p{
  font-size: 1.7rem;
  font-family: 'Work Sans', sans-serif;
  line-height: 2;
  margin: 2rem;
}

span img{
  height: 4rem;
}

/** 2nd Page **/
/** About Us Page **/

.owners{
  color: #000;
  padding: 2rem 0;
  margin-top: 10rem;
}

.owners h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #0000FF;
}

.owners p{
  font-family: 'Work Sans', sans-serif;
  line-height: 1.7;
  max-width: 50rem;
}

.separate{
  margin: 1rem 0;
  padding: 2rem;
  background-color: rgba(0,0,255,.7);
  border-radius: 4px;
  text-align: center;
  color: #fff;
}


.about-us{
  margin-bottom: 5rem;
}

.about-us img{
  max-height: 16rem;
}

.about-us h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.about-us p{
  font-family: 'Work Sans', sans-serif;
  line-height: 1.7;
  font-size: 1.4rem;
  text-align: left;
}


/** 3rd Page **/
/** Projects Page **/

.gallery-description{
  background-color: #807f81;
  margin-top: 5rem;
  padding-top: 5rem;
  color: #000;
  font-family: 'Work Sans', sans-serif;
}

.gallery-description h5{
  padding-top: 3rem;
  text-align: center;
}

.gallery{
  background-color: #807f81;
}

 #slider{
     max-width: 960px;
     margin-top: 2.5rem;
     margin-left:100px;
     margin-right:auto;
     background-color:white;
     border-radius:10px;
 }

 #slide{
  max-width: 960px;
  margin-left:auto;
  margin-right:auto;
 }

 #slide ul{
   list-style-type:none;
 }

 #slide li{
   float:left;
   width:175px;
   display:block;
   margin-right:50px;
   margin-bottom:50px;
 }

 #slide img{
   width: 200px;
   height: 150px;
   border: 3px solid #fff;
 }



/** 4th Page**/
/**Contact Us **/


.contact{
  margin-top: 12rem;
}

.contact h2{
  font-weight: bold;
}

.contact-info{
  margin: 5rem 0 4rem 0;
  text-align: center;
}

.contact-info button{
  padding: 1rem 7rem;
  background-color: #fff;
  border: 1px solid #0000ff;
}

.ind-contact{
  border: 2px solid #0000ff;
  padding: 1.5rem;
  border-radius: 4px;
  margin: 1rem;
}

.address{
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 3rem;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 15rem;
}

.address-info{
  margin-bottom: 4rem;
}

.address h4{
  font-weight: bold;
}


.iframe a{
  margin-top: 5rem;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  background-color: rgba(0,0,255,.6);
}

iframe{
  width: 70%;
  display: block;
  margin: 2rem auto 8rem auto;
  min-height: 40rem;
  min-width: 33rem;
  pointer-events: none;
}


/* E Mail Buttons */

.contact-info button{
  background-color: #fff;
  margin: 2rem 0;
}

.fa-envelope{
  color: #0000FF;
  font-size: 2rem;
}

.contact-info button:hover{
  box-shadow: 4px 4px 4px #0000ff;
  border-radius: 4px;
  transition: 700ms;
}


/***** Footer ******/


footer{
  background-color: #000;
  color: #fff;
}

.footer{
  text-align: center;
  padding: 2rem 0;
}

.footer h5{
  display: inline-block;
}

.footer img{
  max-width: 4rem;
}

.fa-phone h5{
  font-size: 1.6rem;
  padding-left: .50rem;
  font-family: 'Roboto', sans-serif;
}

.fa-twitter-square:hover{
  color: #0000ff;
  transition: 800ms;
}

/** Media Queries **/

@media only screen and (min-width: 2000px){
  .contact-info{
    margin: 35rem 0 14rem 0;
  }
}



@media only screen and (max-width: 768px){
  .nav li{
    padding-top: 3rem;
    margin: 0;
  }
  .jumbotron{
    margin-top: 15rem;
  }

  .nav li a{
    font-size: 1.4rem;
    padding: 0;
  }

  .services h2{
    font-size: 3.5rem;
  }

  .main h2{
    font-size: 2.5rem;
  }

  .owners{
    margin-top: 15rem;
  }

  .contact h2{
    margin-top: 12rem;
  }

  .contact-info button{
    margin: 1rem 0;
  }

  .mission p{
    line-height: 1.2;
}

.main img{
  min-height: 20rem;
}

.mission{
  padding: 8rem 0;
}

  .gallery-description{
    margin-top: 9.5rem;
}

#slider{
    margin-left: 5rem;
}

#slide img{
  width: 225px;
  height: 175px;
  }
}
