
body{
  background-color: rgb(34,34,114);
}

/*** Navbar Section ***/

.navbar-brand img{
  height: 6rem;
}

.navbar-default{
  max-height: 16rem;
  min-height: 8rem;
}

.navbar .nav li{
  margin: .875rem;
  letter-spacing: 0.03rem;
  font-weight: 400;
  display: inline-block;
}

.navbar .nav li a{
  color: #000;
}

.navbar .nav li a:hover{
  color: #000;
  margin: 0;
  border-bottom: 4px solid #0000ff;
  font-weight: bold;
}



/*** Jumbotron Section ****/

.jumbotron{
  background-color: rgb(34,34,114);
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}



/* Main Section */


.construction-photo{
    width: 80%;
    max-height: 30rem;
}

.main{
  color: #fff;
  padding: 4rem 0;
  font-family: 'Work Sans', sans-serif;
}

.main h2{
  font-weight: bold;
}

.main ul{
  padding-left: 0;
}

.main ul li{
  list-style: square inside url("./resources/favicon.ico");
  padding: 0.25rem 0;
}




/***** Footer ******/


footer{
  background-color: #F8F8F8;
  color: #000;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.footer h5{
  display: inline-block;
}

.follow-us a{
  padding: 0 1rem;
}

.footer img{
  max-width: 2rem;
}

.footer i:hover{
  color: #0000FF;
  transition: 800ms;
}

@media only screen and (max-width: 320px){
  .navbar .nav li{
    padding-top: 3rem;
    font-size: 1rem;
  }
}
